# `pivot_longer`

In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
iris %>% as_tibble %>% print

# A tibble: 150 x 5
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <fct>
 1          5.1         3.5          1.4         0.2 setosa
 2          4.9         3            1.4         0.2 setosa
 3          4.7         3.2          1.3         0.2 setosa
 4          4.6         3.1          1.5         0.2 setosa
 5          5           3.6          1.4         0.2 setosa
 6          5.4         3.9          1.7         0.4 setosa
 7          4.6         3.4          1.4         0.3 setosa
 8          5           3.4          1.5         0.2 setosa
 9          4.4         2.9          1.4         0.2 setosa
10          4.9         3.1          1.5         0.1 setosa
# … with 140 more rows

How would we compare distribution of values for each measurement?

![](https://github.com/gadenbuie/tidyexplain/raw/master/images/tidyr-spread-gather.gif)

In [3]:
# ?pivot_longer

In [4]:
iris %>%
    as_tibble %>%
    pivot_longer(cols = c(Sepal.Length, Sepal.Width, Petal.Length, Petal.Width)) %>%
    print

# A tibble: 600 x 3
   Species name         value
   <fct>   <chr>        <dbl>
 1 setosa  Sepal.Length   5.1
 2 setosa  Sepal.Width    3.5
 3 setosa  Petal.Length   1.4
 4 setosa  Petal.Width    0.2
 5 setosa  Sepal.Length   4.9
 6 setosa  Sepal.Width    3
 7 setosa  Petal.Length   1.4
 8 setosa  Petal.Width    0.2
 9 setosa  Sepal.Length   4.7
10 setosa  Sepal.Width    3.2
# … with 590 more rows

In [5]:
iris %>%
    as_tibble %>%
    pivot_longer(cols = !c(Species)) %>%
    print

# A tibble: 600 x 3
   Species name         value
   <fct>   <chr>        <dbl>
 1 setosa  Sepal.Length   5.1
 2 setosa  Sepal.Width    3.5
 3 setosa  Petal.Length   1.4
 4 setosa  Petal.Width    0.2
 5 setosa  Sepal.Length   4.9
 6 setosa  Sepal.Width    3
 7 setosa  Petal.Length   1.4
 8 setosa  Petal.Width    0.2
 9 setosa  Sepal.Length   4.7
10 setosa  Sepal.Width    3.2
# … with 590 more rows

In [6]:
# Plot histogram of each "name"

# iris_long = iris %>%
#     as_tibble %>%
#     pivot_longer(cols = !c(Species))

# `pivot_wider`

![](https://github.com/gadenbuie/tidyexplain/raw/master/images/tidyr-spread-gather.gif)

In [7]:
?pivot_wider

In [8]:
iris_long %>% print

ERROR: Error in eval(lhs, parent, parent): object 'iris_long' not found

In [ ]:
# Why won't this work?

# iris_long %>% 
#     pivot_wider(names_from = name, values_from = value)

In [ ]:
iris %>%
    as_tibble %>%
    mutate(id = row_number()) %>% print

In [ ]:
# Plat Sepal.Length vs. Sepal.Width (starting with iris_long2)

# iris_long2 = iris %>%
#     as_tibble %>%
#     mutate(id = row_number()) %>%
#     pivot_longer(cols = !c(Species, id))

# iris_wide = iris_long2 %>%
#     pivot_wider(id_cols = c(id, Species), names_from = name, values_from = value)