# Extract data encoded in characters

In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

It's common for values (or column names) to include multiple pieces of information.

E.g. `incidents_85_99`

In [2]:
# ?extract

Use `regular expression` syntax to define how data is encoded.

- `.` (dot) = any character
- `*` = match expression zero or more times
- `+` = match expression one or more times

Parentheses group patterns to extract.

In [3]:
iris %>% head

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

`Sepal.Length`

`<part of plant>.<measurement>`

`"(.+)\\.(.+)"`

"backslash escape" means don't treat this as as pattern.

In [4]:
iris %>%
    as_tibble %>%
    pivot_longer(-one_of('Species'), names_to = 'name', values_to = 'value') %>%
    extract(name, c('part', 'meas'), "(.+)\\.(.+)") %>%
    print

# A tibble: 600 x 4
   Species part  meas   value
   <fct>   <chr> <chr>  <dbl>
 1 setosa  Sepal Length   5.1
 2 setosa  Sepal Width    3.5
 3 setosa  Petal Length   1.4
 4 setosa  Petal Width    0.2
 5 setosa  Sepal Length   4.9
 6 setosa  Sepal Width    3
 7 setosa  Petal Length   1.4
 8 setosa  Petal Width    0.2
 9 setosa  Sepal Length   4.7
10 setosa  Sepal Width    3.2
# … with 590 more rows

What about this?

`incidents_85_99`

In [5]:
df = data.frame(x = c('incidents_85_99', 'incidents_00_14', 'fatalities_00_14'))
df %>% extract(x, c('accident_type', 'year_range'), '(.*)_(.*_.*)')

  accident_type year_range
1 incidents     85_99
2 incidents     00_14
3 fatalities    00_14